---
import Container from '@/components/shared/Container.astro';
import { NAV_ITEMS } from '@/constants/nav-items';
import Button from '@/components/ui/Button.astro';
import MousePointerClick from '@lucide/astro/icons/mouse-pointer-click';
---

<Container
  as='header'
  className='flex-row justify-between items-center pt-6 mt-0 lg:mt-0 max-w-none lg:max-w-none'
>
  <a
    href='/'
    class='hover:opacity-75 hover:scale-105 transition-all duration-300'
  >
    <MousePointerClick class='size-9 text-accent-foreground mouse-click-icon' />
  </a>
  <div class='flex space-x-12 items-center'>
    <nav>
      <ul class='flex space-x-8 items-center'>
        {
          NAV_ITEMS.map((item) => (
            <li class='font-medium hover:opacity-75 hover:scale-105 transition-all duration-300'>
              <a href={item.href}>{item.label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div>
      <Button size='lg' href='/contact'> Get in Touch </Button>
    </div>
  </div>
</Container>
