---
import Container from '@/components/shared/Container.astro';
import { NAV_ITEMS } from '@/constants/nav-items';
import Button from '@/components/ui/Button.astro';
import Terminal from '@lucide/astro/icons/terminal';
---

<Container
  as='header'
  className='flex-row justify-between items-center pt-6 mt-0 lg:mt-0'
>
  <a
    href='/'
    class='hover:opacity-75 hover:scale-105 transition-all duration-300'
    aria-label='Home'
  >
    <Terminal stroke-width={2.1} class='size-11 text-foreground' />
  </a>
  <div class='hidden lg:flex space-x-12 items-center'>
    <nav>
      <ul class='flex space-x-8 items-center'>
        {
          NAV_ITEMS.map((item) => (
            <li>
              <a
                href={item.href}
                class='group relative py-2 px-1 text-base font-semibold text-foreground hover:text-primary transition-all duration-300 overflow-hidden'
              >
                <span class='relative z-10 group-hover:transform group-hover:-translate-y-0.5 transition-transform duration-300'>
                  {item.label}
                </span>
                <div class='absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 ease-out group-hover:w-full rounded-full' />
                <div class='absolute bottom-0 right-0 w-0 h-[3px] bg-primary/40 transition-all duration-500 delay-75 group-hover:w-full rounded-full' />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div>
      <Button size='lg' href='/contact'> Get in Touch </Button>
    </div>
  </div>
</Container>
