---
import Container from '@/components/shared/Container.astro';
import Button from '@/components/ui/Button.astro';
---

<Container as='section'>
  <h2 class='heading-2 max-w-xl'>
    Boost your productivity. Start using our app today.
  </h2>
  <div class='mt-10 flex items-center gap-x-6'>
    <Button size='lg' href='#'> Get started </Button>
    <a
      href='#'
      class='text-sm/6 font-semibold text-foreground hover:opacity-75 hover:translate-x-1 hover:scale-105 transition-all duration-300'
      >Learn more <span aria-hidden='true'>→</span></a
    >
  </div>
</Container>
