---
import Container from '@/components/shared/Container.astro';
import Button from '@/components/ui/Button.astro';
import MoveRight from '@lucide/astro/icons/move-right';
---

<div class='bg-primary mt-24 sm:mt-32 lg:mt-36 mb-24'>
  <Container
    as='section'
    className='lg:flex-row lg:items-center lg:justify-between mt-0 sm:mt-0 lg:mt-0 py-24 sm:py-32 lg:py-40'
  >
    <div class='animate-fade-in-up scroll-trigger'>
      <p class='heading-3 text-lime-400'>Let's Connect</p>
      <h2 class='heading-2 text-accent-foreground mt-2 lg:text-6xl'>
        Have a Project in Mind? <br />
        Let's Bring It To Life.
      </h2>
    </div>
    <div
      class='mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0 animate-fade-in-up lg:animate-delay-200 scroll-trigger'
    >
      <Button
        size='xl'
        href='/contact'
        className='bg-background text-foreground group flex items-center justify-center'
        >Get Started <MoveRight
          class='size-4 ml-2 group-hover:translate-x-1 transition-transform duration-300'
          stroke-width={3}
          aria-hidden='true'
        /></Button
      >
      <Button
        size='xl'
        variant='outline'
        href='/about'
        className='border-background text-background group flex items-center justify-center hover:bg-background hover:text-foreground'
        >Learn More <MoveRight
          class='size-4 ml-2 group-hover:translate-x-1 transition-transform duration-300'
          stroke-width={3}
          aria-hidden='true'
        /></Button
      >
    </div>
  </Container>
</div>
