---
import Container from '@/components/shared/Container.astro';
import Terminal from '@lucide/astro/icons/terminal';
import MessagesSquare from '@lucide/astro/icons/messages-square';
import Rocket from '@lucide/astro/icons/rocket';
import Layers from '@lucide/astro/icons/layers';
import Target from '@lucide/astro/icons/target';
import Code from '@/assets/images/home/features/code.png';
import { Picture } from 'astro:assets';

const features = [
  {
    title: 'Direct 1-on-1 Collaboration',
    description:
      "You'll work directly with me, the expert, from start to finish. This means no project managers or mixed messages. You get clear, efficient communication and a single point of contact dedicated to your project.",
    icon: MessagesSquare,
  },
  {
    title: 'Versatile & Modern Development',
    description:
      'Whether you need a lightning-fast marketing site or a complex web application, I use the appropriate modern technologies, including leading frameworks like Astro, Svelte, and React, to deliver a secure, SEO-optimized, and high-performance solution tailored to your specific goals.',
    icon: Rocket,
  },
  {
    title: 'Design & Development, Unified',
    description:
      'I handle both the visual design and the technical development, ensuring a seamless process from the first sketch to the final line of code. This unified approach leads to a more cohesive product and a more efficient workflow for your project.',
    icon: Layers,
  },
  {
    title: 'A Focus on Quality & Results',
    description:
      "I'm committed to delivering a final product that your customers will love and that drives real success for your business. This focus on quality and results is why I maintain a 100% client satisfaction rate.",
    icon: Target,
  },
];
---

<Container as='section'>
  <div
    class='max-w-4xl animate-fade-in-up scroll-trigger lg:mx-auto lg:text-center'
  >
    <p class='heading-3'>
      Why Choose <span class='font-extrabold'>
        <span><Terminal stroke-width={4} class='size-4 inline-block' /></span
        >webexpressions
      </span>
    </p>
    <h2 class='heading-1 mt-2'>Direct Partnership, Exceptional Results</h2>
    <p
      class='mt-6 text-lg lg:text-xl/8 text-foreground font-medium lg:mx-auto max-w-3xl'
    >
      Hi, I'm Thad, the founder and developer behind webexpressions. I partner
      directly with you to understand your goals and translate them into modern,
      high-performance digital experiences that deliver real results for your
      business.
    </p>
  </div>
  <div
    class='space-y-8 text-foreground grid w-full lg:grid-cols-2 lg:gap-x-8 mt-16 sm:mt-20 text-base/7'
    aria-label='Key features and benefits'
  >
    {
      features.map((feature, index) => (
        <div
          class={`relative pl-9 animate-fade-in-up lg:animate-delay-${Math.min((index + 1) * 100, 400)} scroll-trigger`}
        >
          <div class='inline font-extrabold text-foreground'>
            <feature.icon
              class='absolute left-1 top-1 size-5 text-primary'
              aria-hidden='true'
            />
            {feature.title}
          </div>
          <p class='inline'>{feature.description}</p>
        </div>
      ))
    }
  </div>
</Container>
