---
import Container from '@/components/shared/Container.astro';
import Terminal from '@lucide/astro/icons/terminal';
import MessagesSquare from '@lucide/astro/icons/messages-square';
import Rocket from '@lucide/astro/icons/rocket';
import Layers from '@lucide/astro/icons/layers';
import Target from '@lucide/astro/icons/target';
import Code from '@/assets/images/home/features/code.png';
import { Picture } from 'astro:assets';

const features = [
  {
    title: 'Direct 1-on-1 Collaboration',
    description:
      "You'll work directly with me, the expert, from start to finish. This means no project managers or mixed messages. You get clear, efficient communication and a single point of contact dedicated to your project.",
    icon: MessagesSquare,
  },
  {
    title: 'Versatile & Modern Development',
    description:
      'Whether you need a lightning-fast marketing site or a complex web application, I use the appropriate modern technologies, including leading frameworks like Astro, Svelte, and React, to deliver a secure, SEO-optimized, and high-performance solution tailored to your specific goals.',
    icon: Rocket,
  },
  {
    title: 'Design & Development, Unified',
    description:
      'I handle both the visual design and the technical development, ensuring a seamless process from the first sketch to the final line of code. This unified approach leads to a more cohesive product and a more efficient workflow for your project.',
    icon: Layers,
  },
  {
    title: 'A Focus on Quality & Results',
    description:
      "I'm committed to delivering a final product that your customers will love and that drives real success for your business. This focus on quality and results is why I maintain a 100% client satisfaction rate.",
    icon: Target,
  },
];
---

<Container
  as='section'
  className='relative isolate max-w-none lg:max-w-none overflow-hidden lg:overflow-visible lg:px-0'
>
  <div
    class='mx-auto grid max-w-2xl lg:w-full grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10'
  >
    <div
      class='max-w-2xl lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8'
    >
      <div class='lg:pr-4'>
        <div class='lg:max-w-xl'>
          <p class='heading-3'>
            The <span class='font-extrabold'>
              <span
                ><Terminal stroke-width={4} class='size-4 inline-block' /></span
              >webexpressions
            </span> Difference
          </p>
          <h2 class='heading-2 mt-2'>
            Dedicated Partnership, Tangible Results
          </h2>
          <p class='mt-6 text-lg lg:text-xl/8 text-foreground font-medium'>
            Hi, I'm Thad, the founder and developer behind webexpressions. I
            partner directly with you to understand your goals and translate
            them into modern, high-performance digital experiences that deliver
            real results for your business.
          </p>
        </div>
      </div>
    </div>
    <div
      class='-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden'
    >
      <Picture
        src={Code}
        alt='Typescript code'
        width={1200}
        height={940}
        widths={[640, 960, 1200, 1800]}
        sizes='(max-width: 640px) 200vw, (max-width: 768px) 150vw, (max-width: 1024px) 120vw, 60vw'
        formats={['avif', 'webp']}
        class='w-[40rem] max-w-none rounded-xl shadow-xl sm:w-[48rem] md:w-[57rem] h-fit'
      />
    </div>
    <div
      class='lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8'
    >
      <div class='lg:pr-4'>
        <div class='max-w-xl text-base/7 text-foreground lg:max-w-lg'>
          <dl class='space-y-8 text-foreground'>
            {
              features.map((feature) => (
                <div class='relative pl-9'>
                  <dt class='inline font-extrabold text-foreground'>
                    <feature.icon class='absolute left-1 top-1 size-5 text-primary' />
                    {feature.title}
                  </dt>
                  <dd class='inline'>{feature.description}</dd>
                </div>
              ))
            }
          </dl>
        </div>
      </div>
    </div>
  </div>
</Container>
