---
import Container from '@/components/shared/Container.astro';
import Button from '@/components/ui/Button.astro';
import { Check } from '@lucide/astro';

const plans = [
  {
    name: 'Basic',
    price: '$19',
    features: [
      '5 products',
      'Up to 1,000 subscribers',
      'Basic analytics',
      '48-hour support response time',
    ],
  },
  {
    name: 'Essential',
    price: '$49',
    features: [
      '25 products',
      'Up to 10,000 subscribers',
      'Advanced analytics',
      '24-hour support response time',
    ],
  },
  {
    name: 'Growth',
    price: '$99',
    features: [
      'Unlimited products',
      'Unlimited subscribers',
      'Advanced analytics',
      '1-hour, dedicated support response time',
    ],
  },
];
---

<Container as='section'>
  <div class='mx-auto max-w-4xl sm:text-center'>
    <p class='text-base/7 font-semibold text-accent'>Pricing</p>
    <h2 class='mt-2 heading-1'>Pricing that grows with you</h2>
  </div>
  <p
    class='mx-auto mt-6 max-w-2xl text-pretty text-lg font-medium text-foreground sm:text-center sm:text-xl/8'
  >
    Choose an affordable plan that’s packed with the best features for engaging
    your audience, creating customer loyalty, and driving sales.
  </p>
  <div class='mt-20 flow-root'>
    <div
      class='isolate -mt-16 grid max-w-sm grid-cols-1 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-x lg:divide-y-0 xl:-mx-4'
    >
      {
        plans.map((plan) => (
          <div class='pt-16 lg:px-8 lg:pt-0 xl:px-14'>
            <h3 id='tier-basic' class='text-base/7 font-semibold text-gray-900'>
              {plan.name}
            </h3>
            <p class='mt-6 flex items-baseline gap-x-1'>
              <span class='text-5xl font-semibold tracking-tight text-gray-900'>
                {plan.price}
              </span>
              <span class='text-sm/6 font-semibold text-gray-600'>/month</span>
            </p>
            <p class='mt-3 text-sm/6 text-gray-500'>
              {plan.price} per month if paid annually
            </p>
            <Button size='lg' href='#' className='w-full mt-10'>
              {' '}
              Buy plan{' '}
            </Button>
            <p class='mt-10 text-sm/6 font-semibold text-gray-900'>
              Everything necessary to get started.
            </p>
            <ul role='list' class='mt-6 space-y-3 text-sm/6 text-gray-600'>
              {plan.features.map((feature) => (
                <li class='flex gap-x-3'>
                  <svg
                    class='h-6 w-5 flex-none text-lime-400'
                    viewBox='0 0 20 20'
                    fill='currentColor'
                    aria-hidden='true'
                    data-slot='icon'
                  >
                    <path
                      fill-rule='evenodd'
                      d='M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z'
                      clip-rule='evenodd'
                    />
                  </svg>
                  {feature}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</Container>
