---
import { Picture } from 'astro:assets';
import SpectreCorpHero from '@/assets/images/home/project-showcase/spectre-corp-hero.png';
import RockwoodFlooringHero from '@/assets/images/home/project-showcase/rockwood-flooring-hero.png';
---

<div class='flex w-full pl-2 pr-4 overflow-visible mt-16 max-w-6xl mx-auto'>
  <div
    class='relative flex items-center justify-center overflow-visible w-full'
  >
    <div class='w-3/5 aspect-video opacity-0 mb-31 pointer-events-none'></div>
    <div
      class='absolute bg-gray-50 overflow-hidden w-3/5 h-auto aspect-[16/10] transform rotate-[-2deg] translate-y-6 z-30 rounded-lg shadow-xl sm:hover:scale-110 sm:hover:rotate-[0deg] sm:hover:z-50 transition-all duration-300 animate-fade-in-up animate-delay-500 scroll-trigger'
      style='left: 0;'
    >
      <Picture
        src={RockwoodFlooringHero}
        alt='Modern Real Estate Website'
        width={1200}
        height={750}
        widths={[480, 768, 1024, 1536]}
        sizes='(max-width: 768px) 100vw, (max-width: 1024px) 80vw, 60vw'
        formats={['avif', 'webp']}
        class='w-full h-full object-cover'
      />
    </div>
    <div
      class='absolute bg-gray-50 overflow-hidden w-3/5 h-auto aspect-[16/10] transform rotate-[5deg] translate-y-[-12px] z-40 rounded-lg shadow-xl sm:hover:scale-110 sm:hover:rotate-[0deg] sm:hover:z-50 transition-all duration-300 border border-gray-200 animate-fade-in-up animate-delay-600 scroll-trigger'
      style='right: 0;'
    >
      <Picture
        src={SpectreCorpHero}
        alt='Bold and modern website for a local auto detailing business'
        width={1200}
        height={750}
        widths={[480, 768, 1024, 1536]}
        sizes='(max-width: 768px) 100vw, (max-width: 1024px) 80vw, 60vw'
        formats={['avif', 'webp']}
        class='w-full h-full object-cover'
      />
    </div>
  </div>
</div>
